.app{
    background-color: rgb(78, 78, 78);
    color: rgb(255, 255, 255);
    height: 100vh;
    .header{
        background-color: rgb(70, 70, 70);
        display: flex;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        height: 60px;
        a{
           font-size: larger;
           margin: 10px;
           color: rgb(255, 255, 255);       
        }
        div{       
            margin: 10px;       
        }   
    }
    .body{
        background-color: rgb(78, 78, 78);
        color: rgb(255, 255, 255);
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h3{
            padding: 5px;
        }
        input{
            width: 200px;
            height: 40px;
            margin-top: 30px;
            border-radius: 10px;
        }
        div{
            margin-top: 20px;
            margin-left: 10px;
            display: flex;
            font-display: row;
            flex-wrap: wrap;
        }
      
    }
    .footer{
        position: absolute;
        bottom: 0;
    }
}
