.header{
    background-color: rgb(23, 23, 23);
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
   
    a{
       font-size: larger;
       margin: 10px;
       color: rgb(255, 255, 255);       
    };
    div{       
        margin: 10px;       
    }

    
}